
$blue: #00cfe8; //$info
$red: #EF3340; //$danger
$orange: #ff9f43; //$warning
$green: #28c76f; //$success
$cyan: #6F7DFF; //$primary
$text:#494F66;
$link:#676F8F;
$placeholder:#A3ABCC;

$primary: $red;
$info: $blue;
$warning: $orange;
$gradient-button-bs:2px;
$dropdown-btn-padding-y:5px;
$dropdown-btn-padding-x:6px;
$dropdown-btn-split-padding-x:5px;
$pure-black:$green;