 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
 @import './colors/color';
 
 body ,a,span{
     color: $text;
     font-family: 'Lato', sans-serif!important;
 }
h1 ,h2,h3,h4,h5,label
{
    color: $text;
}
 .row 
 {
     display: flex;
 }
 .col-md-6 
 {
     width: 50%;
 }
 #id 
 {
     background-color:#fff;
 }   
 #section_home_img
 { 
    //background-color: red;
     background-image: url('../../img/home.svg');
     background-size: contain;
    height: 100vh;
     background-repeat: no-repeat;
 }
 #home
 {
     padding-top: 2rem;
 }
 .row{
     margin :0!important;
 }
.form-control
 {
     height: calc(1.5em + 0.75rem + 20px)!important;
 }
 .dropdown-toggle::after
 {
     color:$primary
 }

 #link_phone{
     color:  $cyan;
 }
 #brand
 {
    background-color: transparent;
     margin-left: 5rem;
     @media only screen and (max-width: 600px) {
  
         margin-left: 1rem;
    }
 }
 input[type="checkbox" ] {
    background-color: green;
}
.link{
    color:$link;
}
#navbar{
    z-index: 100000;
}
#section_home_img
{
      z-index: -100;
    margin-top: -55px;
}
#content-end{
     margin-right: 5rem;
     @media only screen and (max-width: 600px) {
  
         margin-right: 1rem;
    }
}
.btn-lg, .btn-group-lg > .btn {
    padding: 1rem 3rem!important;
    font-size: .8rem!important;
    font-weight: bold;
    line-height: 1.7!important;
    border-radius: 0.3rem;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: $placeholder!important;
  opacity: .7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $placeholder!important;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: $placeholder!important;
}
#form_home
{
    margin-right: 10rem;
      @media only screen and (max-width: 600px) {
  
         margin-right: 0;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.dropdown-toggle::after
{
        margin-left: 1em!important;
}
#title_home
{
    margin-bottom: 2rem;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: transparent!important;
    color: $text!important;

}
.nav-item{
    margin-left: 2rem;
    margin-bottom: 1rem;
}
 .a{ 
    color: $placeholder!important;
}
.badge-info {
    color: #fff;
    background-color: $cyan!important;
    margin-right: .5rem;
}
.full-h{
    height: 96vh;
}
.bg-gray-w{
    background-color: #F7F8FC;
}
.makeStyles-formControl-1{
    width: 85%!important;
}
.makeStyles-formControl-20 ,.MuiFormControl-root {
    width: 85%!important;
}
.span_subtitle{
    color: $placeholder;
    font-size: 12px;
}
.red{
        color: $red;
}
p{
    color: $text2;
}
 .cyan{
    color: $cyan!important;
}
.btn-1
{
    background-color: white!important;
    color:$cyan!important;
    border: none!important;
}
.btn-2
{
    cursor: default!important;
    background-color: white!important;
    color:$text!important;
    border: none!important;
}
.btn-group
{
    border-radius: 5px;
    padding: 5px;
    border:1px #C5CBE0 solid;
}
#icon_person{
    margin-left: 2rem;
    margin-top: -2rem;
}
#txt_toogle{
    margin-left: 12px;
    margin-top: 5px;
    font-size: 13px;
}
#img_404{
    position: relative;
    margin : 0 auto;
    margin-top: -100px;
    height: 40px;

}
.space_p{
    font-weight: 400;
    font-stretch: extra-expanded;
    line-height:30px;    
}
.acc_title{
    font-size: 16px!important;
}